<div class="sidebar sidebar-to-follow">
  <div class="main-menu">
    <header>
      <label>
        <%= 'who To Follow' %>
      </label>
      <img src="assets/sinchronize.png"/>
    </header>
  </div>

  <div class="sidebar-list">
    <% @to_follow.each do |user| %>
      <% if user != @current_user %>
        <div class="banner">
          <div class="image">
            <%= link_to(image_tag(user_image(user), alt: "", class: 'full_size'), user_path(user, view: 'details')) %>
          </div>

          <div class="details">
            <p class="head"><%= user.username %></p>
            <p><%= user.fullname %></p>
          </div>

          <div class="plus">
            <%= link_to(image_tag("plus.png", alt: "", class: 'half_size'), followings_path(user: user, view: @user_view, direction: @direction), method: :post ) %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
