
<main class="opinions-main">
  <%= draw_opinions_main_menu %>
  <div class="main-body">

    <%= render 'opinions/form' %>

    <div class="opinions">
    <label>all opinions</label>

    <% @opinions.each do |opinion| %>
      <div class="opinion">
        <div class="image">
          <%= user_image(opinion.author) %>
        </div>

        <div class="opinion-details">
          <p class="author"><%= opinion.author.username %></p>
          <p><%= opinion.text %></p>
        </div>
      </div>

    <% end %>




    <%#= link_to 'New Opinion', new_opinion_path %>

  </div>
</main>
