<div class="banners-list">
  <label class="caption"><%= @followings.count.to_s + ' Followed Users' %></label>
  <% @followings.each do |user| %>
    <div class="banner">
      <%= user_image_link_large(user) %>
  
      <div class="details">
        <p class="head"><%= user.username %></p>
        <p><%= user.fullname %></p>
        <div class='tooltip'>
          <%= follower_arrow(user) %>
          <span class="tooltiptext">Follower</span>
        </div>
        <div class='tooltip'>
          <%= following_arrow(user) %>
          <span class="tooltiptext">Followed</span>
        </div>
      </div>
  
      <div class="details users-index-info">
        <p class="">
          <%= link_to('FOLLOWS', user_path(user, view: 'following')) %>
          <%= tag.label(user.followed.count.to_s, class: 'stats-label') %>
        </p>
        <p class="">
          <%= link_to('FOLLOWERS', user_path(user, view: 'followers')) %>
          <%= tag.label(user.followers.count.to_s, class: 'stats-label') %>
        </p>
        <p class="">
          <%= link_to('OPINIONS ', user_path(user, view: 'opinions')) %>
          <%= tag.label(user.opinions.count.to_s, class: 'stats-label') %>
        </p>
      </div>
    </div>
  <% end %>
</div>
