<header>
<%= image_tag("bird.png", alt: "", width:"30", height: "30") %>
<div class="buttons">
  <%= image_tag("pencil.png", alt: "rss feed", width:"30", height: "30") %>
  <%= image_tag("message.png", alt: "rss feed", width:"30", height: "30") %>
  <%= image_tag("search.png", alt: "rss feed", width:"30", height: "30") %>
  <%= image_tag("settings.png", alt: "rss feed", width:"30", height: "30") %>
</div>
</header>
