<nav id="nav">
  <div class="current-user-banner">
    <%= draw_currentuserinfo %>
  </div>
  <div class="nav-menu">
    <%= link_to_home %>
    <%= link_to_current_user %>
    <%= link_to_users %>
    <%= link_to_logout %>
    <%= link_to_signin %>
    <%= link_to_signup %>
  </div>
</nav>
 