<!DOCTYPE html>
<html>
  <head>
    <title>Opinions</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% cache do %>
      <section id="desktop">
        <%= draw_header %>
        <%= draw_nav_bar %>

        <%= yield %>

        <%= draw_side_bar %>
      </section>
    <% end %>
  </body>
</html>
