<!DOCTYPE html>
<html>
  <head>
    <title>Opinions</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <section id="desktop">
      <%#= draw_header %>
      <header>
        <%= image_tag("twitter-128.png", alt: "rss feed", width:"30", height: "30") %>

        <div class="buttons">
          <%= image_tag("pencil.png", alt: "rss feed", width:"30", height: "30") %>
          <%= image_tag("message.png", alt: "rss feed", width:"30", height: "30") %>
          <%= image_tag("search.png", alt: "rss feed", width:"30", height: "30") %>
          <%= image_tag("settings.png", alt: "rss feed", width:"30", height: "30") %>
        </div>
        <%#= flash.notice %>
      </header>
      
      <%= draw_nav_bar %>

      <%= yield %>

      <%= draw_side_bar %>

      
    </section>


  </body>
</html>
